---
// NOTA - ACA CODIGO JS
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import ServiceCard from '../components/ServiceCard.astro';
import ContactCard from '../components/ContactCard.astro';
import WorkerCard from '../components/WorkerCard.astro';

---

<Layout title="Mauricio Bruschi - Perforaciones de agua">

	<Hero />

	<span class="span-separador">
		<h3 class="span-separador__h3">Perforaciones para agua en <b>San Vicente</b>, <b>Alejandro Korn</b>, <b>Domselaar</b>, <b>Glew</b> y <b>Guernica</b></h3>
		<span class="separador"></span>
		<p class="span-separador__p">Empresa de <b>amplia trayectoria</b> dedicada a la construcción de <b>pozos para extracción de agua</b></p>
	</span>

	<section class="nosotros-seciton" id="nosotros">

		<div class="nosotros-carousel">
		
			<div class="carousel">
				<div class="carousel-box">
					<img class="carousel-box__img" src="/images/nosotros1.jpeg" alt="">
				</div>
				<div class="carousel-box">
					<img class="carousel-box__img" src="/images/nosotros2.jpeg" alt="">
				</div>
				<div class="carousel-box">
					<img class="carousel-box__img" src="/images/nosotros4.jpeg" alt="">
				</div>
			</div>

		</div>

		<div class="nosotros-txt">
			<h2 class="nosotros-txt__h2">¿Quiénes somos?</h2>
			<p class="nosotros-txt__p">Nos especializamos en captar agua mediante bombas sumergibles tanto desde el acuífero puelche para consumo, como desde el acuífero pampeano para abastecimiento de redes de incendio, riegos o piletas (según requerimientos), también realizamos perforaciones para depresiones de napas y abastecimiento industrial. Todos nuestros trabajos se encuentran garantizados.
			Nuestras perforaciones se caracterizan por sus materiales de calidad PREMIUM. Utilizamos filtros en la construcción y entubado del pozo ya que lo más importante para nosotros es preservar y cuidar la calidad de agua de su vivienda. Cada uno de estos detalles nos permite brindarle confianza, seguridad y garantía a cada uno de nuestros clientes.
			</p>
		</div>

	</section>

	<section class="servicios-section" id="servicios">

		<div class="section-title">
			<h2 class="servicios__h2"><span class="servicios__span">Nuestros</span>servicios</h2>
		</div>

		<div class="servicios-cards">

			<div class="servicios-card">
				<img class="servicios-card__img" src="/images/pozo.png" alt="">
				<b>Pozos de agua</b>
			</div>

			<div class="servicios-card">
				<img class="servicios-card__img" src="/images/agua.png" alt="">
				<b>Perforaciones</b>
			</div>

			<div class="servicios-card">
				<img class="servicios-card__img" src="/images/ahorrar.png" alt="">
				<b>Estudio de suelo</b>
			</div>

		</div>

		<div class="servicios-separador">

			<div class="servicios-container-wrapp">

				<div class="servicios-bx">
					<img class="servicios-bx__img" src="/images/obrero.png" alt="">
					<div class="servicios-bx__txt">
						<span>+500</span>
						<b>Geoproyectos</b>
					</div>
				</div>
				<div class="servicios-bx">
					<img class="servicios-bx__img" src="/images/maquina-perforacion.png" alt="">
					<div class="servicios-bx__txt">
						<span>+11500</span>
						<b>Metros perforados</b>
					</div>
				</div>
				<div class="servicios-bx">
					<img class="servicios-bx__img" src="/images/tanque.png" alt="">
					<div class="servicios-bx__txt">
						<span>+20</span>
						<b>Remediaciones</b>
					</div>
				</div>

			</div>

		</div>

	</section>

	<section class="galeria-section" id="galeria">

		<div class="galeria-title">
			<h2 class="galeria-title__h2"><span class="servicios__span">Nuestra</span>galeria</h2>
		</div>

		<div class="galeria-grid">
			<div class="div1">
				<img class="galeria-bx__img" src="/images/nosotros3.jpeg" alt="Mauricio Bruschi perforaciones">
			</div>
			<div class="div2">
				<img class="galeria-bx__img" src="/images/nosotros5.jpeg" alt="Perforaciones de agua">
			</div>
			<div class="div3">
				<img class="galeria-bx__img" src="/images/nosotros6.jpeg" alt="Mauricio Bruschi">
			</div>
			<div class="div4">
				<img class="galeria-bx__img" src="/images/nosotros7.jpeg" alt="Mauricio Bruschi">
			</div>
			<div class="div5">
				<img class="galeria-bx__img" src="/images/nosotros-gif.gif" alt="Mauricio Bruschi perforaciones">
			</div>
			<div class="div6">
				<img class="galeria-bx__img" src="/images/nosotros9.jpeg" alt="Mauricio Bruschi perforaciones">
			</div>
		</div>

	</section>

	<div class="span-separador2">
		<h3>Trabajos con garantía y precios accesibles</h3>
	</div>

	<section class="location-section" id="contacto">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3266.935643299587!2d-58.42583272332667!3d-35.03333988031617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bd2daec7cafbbb%3A0x1b35cec03cea68ba!2sCalle%20Int.%20Madero%20400%2C%20B1865CZJ%20San%20Vicente%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1723259967785!5m2!1ses!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</section>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>

<script>

	$('.carousel').slick({
	dots: false,
	infinite: true,
	arrows: false,
	autoplay: true,
	speed: 500,
	slidesToShow: 1,
	slidesToScroll: 1,
	responsive: [
		{
		breakpoint: 1025,
		settings: {
			slidesToShow: 1,
			slidesToScroll: 1,
			infinite: true,
			arrows: false,
			dots: false
		}
		},
		{
		breakpoint: 770,
		settings: {
			arrows: false,
			slidesToShow: 1,
			slidesToScroll: 1
		}
		},
		{
		breakpoint: 481,
		settings: {
			slidesToShow: 1,
			slidesToScroll: 1
		}
		},
		{
		breakpoint: 321,
		settings: {
			arrows: false,
			slidesToShow: 1,
			slidesToScroll: 1
		}
		}
		// You can unslick at a given breakpoint now by adding:
		// settings: "unslick"
		// instead of a settings object
	]
	});
</script>
