---
// NOTA - ACA CODIGO JS
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import ServiceCard from '../components/ServiceCard.astro';
import ContactCard from '../components/ContactCard.astro';
import WorkerCard from '../components/WorkerCard.astro';

---

<Layout title="Dentix - Clínica odontologica">
	<Hero />

	<section class="w-full m-auto xl:mt-32 xl:mb-0 lg:mt-40 md:mt-24 sm:mb-24 xl:p-0 lg:p-10 relative" id="nosotros">
		<div class="nosotros-container text-white w-full md:p-10 xl:p-24 sm:p-5 text-center sm:w-full relative">
			<span class="text-5xl nosotros-span font-normal xl:text-4xl lg:text-3xl lg:font-medium"><strong class="nosotros-strong xl:font-bold lg:font-semibold sm:text-2xl text-white">Somos Dentix</strong></span>
			<p class="xl:text-2xl lg:text-lg xl:font-light lg:leading-6 sm:leading-5 lg:font-normal sm:font-light">Somos una Clínica Dental en Madrid formada por un equipo médico multidisciplinario, altamente formado, con conocimientos técnicos de vanguardia a tu disposición. En nuestra Clínica Dental de Majadahonda encontrarás total implicación, empatía y sensibilidad para que recuperar tu mejor sonrisa. Pones a tu disposición, profesionales comprometidos con la actividad docente universitaria de pregrado, postgrado y con la investigación, para que puedas recuperar tu mejor sonrisa.</p>
		</div>
		<div class="nosotros-container2 w-full flex items-center justify-center gap-20 relative bottom-12">
			<WorkerCard imgSrc="https://gacetadental.com/wp-content/uploads/2019/04/shutterstock_Nestor-Rizhniak.jpg">
				<span class="text-center">Dentista</span>
				<h3 class="font-semibold text-center">Loremds ipsum</h3>
			</WorkerCard>

			<WorkerCard imgSrc="https://www.campustraining.es/wp-content/uploads/2021/02/auxiliar-odontologia-requisitos-articulo.jpg.webp">
				<span class="text-center">Dentista</span>
				<h3 class="font-semibold text-center">Loremds ipsum</h3>
			</WorkerCard>

			<WorkerCard imgSrc="https://merida.anahuac.mx/hubfs/POSEC%20-%20Educon%20-%20MAES%20%202023/POSEC%20-%20Educon%202023/Web_Imagenes_Actualizacion-Odontologia-General_Imagen2.jpg">
				<span class="text-center">Dentista</span>
				<h3 class="font-semibold text-center">Loremds ipsum</h3>
			</WorkerCard>
		</div>
	</section>

	<section class="container w-4/5 lg:w-full sm:w-11/12 m-auto xl:mt-0 lg:my-36 md:mt-24" id="servicios">

		<div class="servicios-title flex flex-col xl:mb-10 lg:mb-3 xl:w-1/4 lg:w-2/4 mx-auto">
			<h3 class="xl:text-3xl sm:text-2xl text-center font-semibold lg:font-bold">Nuestros servicios</h3>
			<span class="linea-separador bg-black"></span>
		</div>

		<div class="my-0 mx-auto">
		  <ServiceCard imgSrc="https://clinicadentaldrmestres.com/wp-content/uploads/2023/04/limpieza-dental-antes-despues-1500x750.jpg">
			<div class="flex flex-col lg:w-2/4 md:w-100 my-auto xl:gap-5 lg:gap-3 sm:gap-2">
				<h2 id="entrada" class="text-4xl lg:text-xl sm:text-xl sm:font-medium lg:font-bold">Blanqueamiento dental</h2>
				<p class="text-base lg:text-md lg:leading-6 md:font-normal sm:font-light mt-0">
				  Utilizamos productos de blanqueamiento dental de alta calidad que cumplen con los estándares de seguridad y eficacia.<br><br>Además, personalizamos el tratamiento según las necesidades individuales de cada paciente, considerando factores como el tono inicial de los dientes y la sensibilidad dental. Durante el procedimiento, aplicamos técnicas precisas para minimizar cualquier riesgo de sensibilidad o irritación en las encías.
				</p>
				<a class="button-info sm:text-sm lg:text-normal xl:text-lg flex items-center justify-start gap-1 burt px-3 py-1 w-fit md:m-auto" title="Más información"  href="#">Más información <ion-icon name="arrow-forward-outline"></ion-icon></a>
			</div>
		  </ServiceCard>

		  <ServiceCard imgSrc="https://sevilladental.net/wp-content/uploads/2022/06/tratamiento-para-caries.jpg" reverseImg={true}>
			<div class="flex flex-col lg:w-2/4 md:w-100 my-auto xl:gap-5 lg:gap-3 sm:gap-2">
				<h2 class="text-4xl lg:text-xl sm:text-xl sm:font-medium lg:font-bold">Tratamiento de caries</h2>
				<p class="text-base lg:text-md lg:leading-6 md:font-normal sm:font-light mt-0">
				  Nuestro enfoque en el tratamiento de las caries se basa en las mejores prácticas clínicas y en la atención personalizada a cada paciente.<br><br>  Restauramos el diente utilizando materiales estéticos y duraderos, como resinas compuestas o cerámicas, para devolver su función y estética.
				</p>
				<a class="button-info sm:text-sm lg:text-normal xl:text-lg flex items-center justify-start gap-1 burt px-3 py-1 w-fit md:m-auto" title="Más información"  href="#">Más información <ion-icon name="arrow-forward-outline"></ion-icon></a>
			</div>
		  </ServiceCard>

		  <ServiceCard imgSrc="https://images.squarespace-cdn.com/content/v1/59303b953e00bebc0feaff9f/d6df1776-ac35-4094-b353-e4d9b9087682/ortodoncia-clinica-dental-murcia.jpeg">
			<div class="flex flex-col lg:w-2/4 md:w-100 my-auto xl:gap-5 lg:gap-3 sm:gap-2">
				<h2 class="text-4xl lg:text-xl sm:text-xl sm:font-medium lg:font-bold">Ortodoncia</h2>
				<p class="text-base lg:text-md lg:leading-6 md:font-normal sm:font-light mt-0">
				  Utilizamos una variedad de dispositivos, desde brackets tradicionales hasta alineadores transparentes, para mover los dientes gradualmente hacia su posición óptima.<br><br> Nuestro enfoque multidisciplinario implica colaboración con otros profesionales de la salud dental para abordar cualquier problema subyacente y lograr resultados duraderos y estéticamente agradables para nuestros pacientes.
				</p>
				<a class="button-info sm:text-sm lg:text-normal xl:text-lg flex items-center justify-start gap-1 burt px-3 py-1 w-fit md:m-auto" title="Más información"  href="#">Más información <ion-icon name="arrow-forward-outline"></ion-icon></a>
			</div>
		  </ServiceCard>

		</div>
	  </section>

	  <ContactCard />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	.linea-separador{
		width: 25%;
		height: 7px;
		margin: auto;
		border-radius: 10px;
		background-color: var(--color-secondary);
		transition: all .2s ease-in-out;
	}

	#servicios{
		scroll-margin-top: 100px;
	}
	.servicios-title:hover .linea-separador{
		width: 50%;
	}
	#nosotros{
		color: black;
	}
	.nosotros-container{
		transition: all .2s ease-in-out;
		color: white;
		background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
                  url("https://www.deltadental.com/content/dam/new-grin-magazine/ddpa/en/2023/fall/man-at-the-dentist-1200x683.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		backdrop-filter: blur(1rem);
	}

	.button-info{
		border: solid 1px var(--color-secondary);
		background: var(--color-secondary);
		color: white;
		box-shadow: 0 0 2px var(--color-secondary);
		transition: all .2s ease-in-out;
	}
	.button-info:hover{
		background: rgb(224, 0, 94);
		box-shadow: 0 0 2px rgb(224, 0, 94);
	}
</style>
