---
// NOTA - ACA CODIGO JS
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import ServiceCard from '../components/ServiceCard.astro';
import ContactCard from '../components/ContactCard.astro';
import WorkerCard from '../components/WorkerCard.astro';

---

<Layout title="Dentix - Clínica odontologica">
	<Hero />

	<section class="w-full m-auto xl:mt-40 xl:mb-0 lg:mt-40 md:mt-24 md:mb-20 sm:mb-24 lg:mb-0 xl:p-0 lg:p-0 relative" id="nosotros">
		<div class="nosotros-container text-white w-full md:p-10 xl:pt-24 xl:pb-40 xl:px-24 md:pb-24 sm:p-5 text-center sm:w-full relative">
			<span class="text-5xl nosotros-span font-normal xl:text-4xl lg:text-3xl lg:font-medium"><strong class="nosotros-strong xl:font-bold lg:font-semibold sm:text-2xl text-white">Somos Dentix</strong></span>
			<p class="xl:text-2xl lg:text-lg xl:font-light lg:leading-6 sm:leading-5 lg:font-normal dm:font-md sm:font-light">Somos una Clínica Dental en Madrid formada por un equipo médico multidisciplinario, altamente formado, con conocimientos técnicos de vanguardia a tu disposición. En nuestra Clínica Dental de Majadahonda encontrarás total implicación, empatía y sensibilidad para que recuperar tu mejor sonrisa. Pones a tu disposición, profesionales comprometidos con la actividad docente universitaria de pregrado, postgrado y con la investigación, para que puedas recuperar tu mejor sonrisa.</p>
		</div>
		<div class="nosotros-container2 xl:w-3/6 lg:w-4/5 m-auto relative xl:bottom-36 md:bottom-12 lg:bottom-28">

			<div class="carousel">
				<WorkerCard imgSrc="https://gacetadental.com/wp-content/uploads/2019/04/shutterstock_Nestor-Rizhniak.jpg">
					<span class="text-center">Dentista</span>
					<h3 class="font-semibold text-center">Alberto bolanios</h3>
				</WorkerCard>
	
				<WorkerCard imgSrc="https://www.campustraining.es/wp-content/uploads/2021/02/auxiliar-odontologia-requisitos-articulo.jpg.webp">
					<span class="text-center">Dentista</span>
					<h3 class="font-semibold text-center">Carla Del Monte</h3>
				</WorkerCard>
	
				<WorkerCard imgSrc="https://merida.anahuac.mx/hubfs/POSEC%20-%20Educon%20-%20MAES%20%202023/POSEC%20-%20Educon%202023/Web_Imagenes_Actualizacion-Odontologia-General_Imagen2.jpg">
					<span class="text-center">Dentista</span>
					<h3 class="font-semibold text-center">María Fernandez</h3>
				</WorkerCard>

				<WorkerCard imgSrc="https://merida.anahuac.mx/hubfs/POSEC%20-%20Educon%20-%20MAES%20%202023/POSEC%20-%20Educon%202023/Web_Imagenes_Actualizacion-Odontologia-General_Imagen2.jpg">
					<span class="text-center">Dentista</span>
					<h3 class="font-semibold text-center">María Fernandez</h3>
				</WorkerCard>
			</div>
			
		</div>
	</section>

	<section class="w-4/5 lg:w-full sm:w-4/5 m-auto xl:mt-0 lg:my-36 md:mt-24 lg:mt-0" id="servicios">

		<div class="servicios-title flex flex-col xl:mb-10 lg:mb-3 xl:w-1/4 lg:w-2/4 mx-auto">
			<h3 class="xl:text-3xl sm:text-2xl text-center font-semibold lg:font-semibold">Nuestros servicios</h3>
			<span class="linea-separador bg-black"></span>
		</div>

		<div class="my-0 mx-auto flex justify-around flex-wrap xl:gap-10 md:justify-center lg:gap-x-24 lg:gap-y-16 md:gap-x-20 md:gap-y-16 md:mt-12 sm:mt-10 sm:gap-y-14">

		  <ServiceCard imgSrc="https://clinicadentaldrmestres.com/wp-content/uploads/2023/04/limpieza-dental-antes-despues-1500x750.jpg">
			<a class="service-card__a" href="#">
				<span class="service-card__title">
					Blanqueamiento dental
				</span>
			  </a>
		  
			  <p class="service-card__desc max-h-36 overflow-hidden">
				Utilizamos productos de blanqueamiento dental de alta calidad que cumplen con los estándares de seguridad y eficacia.<br>
				Además, personalizamos el tratamiento según las necesidades individuales de cada paciente, considerando factores como el tono inicial de los dientes y la sensibilidad dental. Durante el procedimiento, aplicamos técnicas precisas para minimizar cualquier riesgo de sensibilidad o irritación en las encías.
			  </p>
		  
			  <a class="service-card__more" href="#">
				Más información
				<span aria-hidden="true">
				  →
				</span>
			  </a>
		  </ServiceCard>

		  <ServiceCard imgSrc="https://sevilladental.net/wp-content/uploads/2022/06/tratamiento-para-caries.jpg">
			<a class="service-card__a" href="#">
				<span class="service-card__title">
					Tratamiento de caries
				</span>
			  </a>
		  
			  <p class="service-card__desc max-h-36 overflow-hidden">
				Nuestro enfoque en el tratamiento de las caries se basa en las mejores prácticas clínicas y en la atención personalizada a cada paciente.<br>
				Restauramos el diente utilizando materiales estéticos y duraderos, como resinas compuestas o cerámicas, para devolver su función y estética.
			  </p>
		  
			  <a class="service-card__more" href="#">
				Más información
				<span aria-hidden="true">
				  →
				</span>
			  </a>
		  </ServiceCard>

		  <ServiceCard imgSrc="https://images.squarespace-cdn.com/content/v1/59303b953e00bebc0feaff9f/d6df1776-ac35-4094-b353-e4d9b9087682/ortodoncia-clinica-dental-murcia.jpeg">
			<a class="service-card__a" href="#">
				<span class="service-card__title">
					Ortodoncia
				</span>
			  </a>
		  
			  <p class="service-card__desc max-h-36 overflow-hidden">
				Utilizamos una variedad de dispositivos, desde brackets tradicionales hasta alineadores transparentes, para mover los dientes gradualmente hacia su posición óptima.<br>
				Nuestro enfoque multidisciplinario implica colaboración con otros profesionales de la salud dental para abordar cualquier problema subyacente y lograr resultados duraderos y estéticamente agradables para nuestros pacientes.
			  </p>
		  
			  <a class="service-card__more" href="#">
				Más información
				<span aria-hidden="true">
				  →
				</span>
			  </a>
		  </ServiceCard>

		  <ServiceCard imgSrc="https://clinicadentaldrmestres.com/wp-content/uploads/2023/04/limpieza-dental-antes-despues-1500x750.jpg">
			<a class="service-card__a" href="#">
				<span class="service-card__title">
					Extracciones
				</span>
			  </a>
		  
			  <p class="service-card__desc max-h-36 overflow-hidden">
				Utilizamos productos de blanqueamiento dental de alta calidad que cumplen con los estándares de seguridad y eficacia.<br>
				Además, personalizamos el tratamiento según las necesidades individuales de cada paciente, considerando factores como el tono inicial de los dientes y la sensibilidad dental. Durante el procedimiento, aplicamos técnicas precisas para minimizar cualquier riesgo de sensibilidad o irritación en las encías.
			  </p>
		  
			  <a class="service-card__more" href="#">
				Más información
				<span aria-hidden="true">
				  →
				</span>
			  </a>
		  </ServiceCard>

		</div>
	  </section>

	  <ContactCard />

	  <script>
		$('.carousel').slick({
		dots: false,
		infinite: false,
		arrows: false,
		speed: 300,
		slidesToShow: 3,
		slidesToScroll: 3,
		responsive: [
			{
			breakpoint: 1025,
			settings: {
				slidesToShow: 3,
				slidesToScroll: 3,
				infinite: true,
				arrows: false,
				dots: false
			}
			},
			{
			breakpoint: 770,
			settings: {
				arrows: false,
				slidesToShow: 3,
				slidesToScroll: 3
			}
			},
			{
			breakpoint: 481,
			settings: {
				slidesToShow: 2,
				slidesToScroll: 2
			}
			},
			{
			breakpoint: 321,
			settings: {
				arrows: false,
				slidesToShow: 1,
				slidesToScroll: 1
			}
			}
			// You can unslick at a given breakpoint now by adding:
			// settings: "unslick"
			// instead of a settings object
		]
		});
	  </script>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	.linea-separador{
		width: 25%;
		height: 7px;
		margin: auto;
		border-radius: 10px;
		background-color: var(--color-secondary);
		transition: all .2s ease-in-out;
	}

	#servicios{
		scroll-margin-top: 100px;
	}
	.servicios-title:hover .linea-separador{
		width: 50%;
	}
	#nosotros{
		color: black;
	}
	.nosotros-container{
		transition: all .2s ease-in-out;
		color: white;
		background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
                  url("https://www.deltadental.com/content/dam/new-grin-magazine/ddpa/en/2023/fall/man-at-the-dentist-1200x683.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		backdrop-filter: blur(1rem);
	}

	.button-info{
		border: solid 1px var(--color-secondary);
		background: var(--color-secondary);
		color: white;
		box-shadow: 0 0 2px var(--color-secondary);
		transition: all .2s ease-in-out;
		height: 10%;
	}
	.button-info:hover{
		background: rgb(224, 0, 94);
		box-shadow: 0 0 2px rgb(224, 0, 94);
	}

	#entrada{
		height: 10%;
	}
	.service-card__p{
		height: 80%;
		max-height: 80;
		overflow: hidden;
	}

	.service-card__title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.service-card__desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.service-card__more {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color:var(--color-secondary);
  padding: 4px 8px;
  border-radius: 4px;
}

.service-card__more span {
  transition: .3s ease;
}

.service-card__more:hover span {
  transform: translateX(4px);
}
</style>
