---
---

<footer>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque nisi consectetur ex voluptatem dolorum suscipit!</p>
</footer>

<style>
    footer{
        width: 80%;
        height: 100px;
        margin: 0 auto;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>