---
// import { Image } from 'astro:assets';

---

<section class="hero-container">

    <div class="hero-txt">
        <h2 class="hero-txt__h2">Perforaciones los paisa</h2>
        <h1 class="hero-txt__h1">Perforaciones de agua para viviendas agro e industrias</h1>
        <span class="hero-txt__span">Seguridad, experiencia y calidad</span>
        <span class="hero-txt__btn" id="contactBtn">Presupuestar</span>
    </div>

</section>

<div id="myModal" class="modal">

	<div class="modal-content">
		<span class="close">
			&times;
		</span>
		<form id="contactForm" class="formulario-contacto">

			<div class="form__group field">
				<label for="name"><span>Nombre</span></label>
				<input type="text" name="name" class="question" id="name" required autocomplete="off" />
			</div>

			<div>
				<label for="phone">Teléfono:</label>
				<input type="tel" id="phone" name="phone" required>
			</div>

			<div>
				<label for="address">Dirección:</label>
				<input type="text" id="address" name="address" required>
			</div>

			<div>
				<label for="city">Localidad:</label>
				<select id="city" name="city" required>
					<option value="Domselaar">Domselaar</option>
					<option value="San Vicente">San Vicente</option>
					<option value="Alejandro Korn">Alejandro Korn</option>
					<option value="Guernica">Guernica</option>
					<option value="Glew">Glew</option>
				</select>
			</div>

			<div>
				<label for="service">Tipo de Servicio:</label>
				<select id="service" name="service" required>
					<option value="servicio1">Servicio 1</option>
					<option value="servicio2">Servicio 2</option>
					<option value="servicio3">Servicio 3</option>
				</select>
			</div>

            <button type="submit">Enviar</button>
        </form>
	</div>

</div>

<style>

	.modal{
		display: none;
		position: fixed;
		z-index: 1001;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0,);
		background-color: rgba(0, 0, 0,0.4);
		text-align: center;
		
	}
	.modal-content{
		background-color: #fefefe;
		margin: 15% auto;
		padding: 20px;
		border: solid 1px #888;
		width: 50%;
		transform: translateY(-300%);
		transition: transform 0.3s ease-out;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	.modal.show .modal-content{
		transform: translateY(0);
	}
	.close{
		color: #5c5c5c;
		float: right;
		font-size: 28px;
		font-weight: bold;
		top: 0;
		right: 10px;
		position: absolute;
		margin: 0;
		padding: 0;
	}
	.close:hover,
	.close:focus{
		color: black;
		text-decoration: none;
		cursor: pointer;
	}

	.formulario-contacto{
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 25px;
	}

    
    .hero-container{
		width: 100%;
		height: 600px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background: linear-gradient(to left,rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.6) 60% 100%),url(../images/hero-perforaciones.jpg) no-repeat center / cover ;
		background-attachment: fixed;
	}
	.hero-logo{
		width: 125px;
		height: 125px;
		border-radius: 50%;
		box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
	}
	.hero-logo__img{
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}

	.hero-txt{
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		padding-left: 5%;
		gap: 0px;
		color: white;
		font-weight: bold;
	}
	.hero-txt__h2{
		font-size: 1.2rem;
		text-transform: uppercase;
	}
	.hero-txt__h1{
		font-size: 2rem;
	}
	.hero-txt__span{
		font-size: 1.2rem;
		font-weight: normal;
		text-transform: uppercase;
		margin-top: 5px;
	}
	.hero-txt__btn{
		background: var(--principal);
		color: white;
		padding: 10px 20px;
		border-radius: 10px;
		text-transform: uppercase;
		margin-top: 15px;
		cursor: pointer;
		transition: var(--trans-02);
	}
	.hero-txt__btn:hover{
		background: var(--principal2);
	}


	@media only screen and (max-width: 469px) {
		.modal-content{
			background-color: #fefefe;
			margin: 50% auto;
			padding: 20px;
			border: solid 1px #888;
			width: 80%;
			transform: translateY(-100%);
			transition: transform 0.3s ease-out;
		}
	}

</style>