---
import { Image } from 'astro:assets';

---

<section class="w-full xl:my-24 lg:w-11/12 lg:mx-auto md:mt-44 md:w-11/12 md:mx-auto">
    <div class="container m-auto w-full bg-red flex items-center justify-between lg:gap-10 sm:gap-5">
        <div class="flex flex-col w-50 lg:w-3/5 bg-white">
            <h1 class="xl:text-5xl lg:text-4xl xl:font-normal md:font-bold md:text-2xl">Clínica odontologica</h1>
            <p class="lg:my-5 md:my-4 xl:font-light xl:text-xl lg:text-lg lg:font-normal lg:leading-6">Cónoce nuestra clínica dental. Solicita una cita sin compromiso y te asesoramos. Nuestro equipo profesional se encargará de que te sientas como en casa.</p>
            <div class="flex lg:gap-5 md:gap-3">
                <a class="button lg:text-lg lg:font-ligth sm:text-sm sm:gap-1 sm:py-2 sm:px-3 color-primario" title="Instagram"  href="#servicios">
                    <ion-icon class="lg:text-2xl md:text-xl" name="logo-instagram"></ion-icon>
                    Instagram
                </a>
                <a class="button lg:text-lg lg:font-ligth sm:text-sm sm:gap-1 sm:py-2 sm:px-3 color-secondary" title="Nuestros servicios"  href="#servicios">
                    <ion-icon class="lg:text-2xl md:text-xl"  name="color-wand-outline"></ion-icon>
                    Nuestros servicios
                </a>
            </div>
        </div>
        <div class="flex w-50 lg:w-2/5 bg-black">
            <Image class="img-hero" src="https://static.wixstatic.com/media/7869d1_ca5ef3491f6f46e2bbf327a62d326ab2~mv2.jpg/v1/fill/w_1000,h_583,al_c,q_85,usm_0.66_1.00_0.01/7869d1_ca5ef3491f6f46e2bbf327a62d326ab2~mv2.jpg" alt="Dentrix" width="100" height="100" />
        </div>
    </div>
</section>

<style>
    
    .img-hero{
        width: 100%;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    }
    .button {
        display: flex;
        width: fit-content;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
        color: var(--neutral-900);
        background-color: var(--color-principal);
        border-radius: 3px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    }
    .button.color-secondary{
        background-color: transparent;
        border: solid 1px black;
    }
    .button.color-secondary:hover, .button.color-secondary:focus {
        border-color: var(--color-secondary);
        color: var(--color-secondary);
        box-shadow: 0 0 10px rgba(0, 204, 255, 0.2);
    }
</style>