---
---

<nav class="lg:block sm:hidden">
    <ul class="flex items-center content-center gap-4">
        <li>
            <a href="/" title="Inicio"  class="text-xl">Inicio</a>
        </li>
        <li>
            <a href="/#nosotros" title="Sobre nosotros"  class="text-xl">Sobre nosotros</a>
        </li>
        <li>
            <a href="/#contacto" title="Contactár"  class="text-xl">Contactar</a>
        </li>
    </ul>
</nav>