---
const { imgSrc, reverseImg = false } = Astro.props
---

<section>
    <div class="container">
      <div class="flex gap-24 md:grid-cols-2 md:gap-10 sm:gap-5">
        <div class="space-content p-5 flex justify-center gap-10 my-10">
            {!reverseImg ? <img class="service-card__img rounded-lg xl:h-auto lg:h-full md:h-3/4 md:m-auto" src={imgSrc} /> : ''}
          <slot />
            {reverseImg ? <img class="service-card__img rounded-lg xl:h-auto lg:h-full md:h-3/4 md:m-auto" src={imgSrc} /> : ''}
        </div>
      </div>
    </div>
  </section>

  <style>
    .service-card__img{
        width: 50%;
        height: 400px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    }
    .space-content{
      transition: all 0.2s ease-in-out;
      border-radius: 5px;
    }
  </style>