---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
interface Props {
	title: string;
}

const { title } = Astro.props; // → RECUPERA EL DATO Y LO LEE
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="En nuestra clínica odontológica, nos dedicamos a proporcionar atención dental de alta calidad en un ambiente cálido y acogedor." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- SLICK SLIDER -->
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

		<!-- FONTS -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

	</head>
	<body>

		<Header/>

			<a href="#" id="wsp-float-btn" title="Whatsapp">
				<ion-icon name="logo-whatsapp"></ion-icon>
			</a>

			<main id="main-content" transition:animate="fade">
				<div id="nav-mobile" class="nav-mobile w-full sm:h-80 sm:fixed bg-black">
					<div class="flex flex-col">
						<Nav />
					</div>
				</div>
				<slot />
			</main>
			
			<!-- SCRIPTS -->
			<script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
			<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
			<script	script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
			<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
			
		</body>
		
	<Footer />
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
	
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--color-principal: rgb(0, 195, 255);
		--color-secondary: rgb(252, 22, 118);
	}
	html {
		font-family: "Open Sans", sans-serif;
		background: white;
		background-size: 224px;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.nav-mobile{
		z-index: 500;
		top: -400px;
		background: rgb(245, 245, 245);
		box-shadow: 0 0 5px black;
		transition: all .3s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav-hidden{
		top: 100px;
	}
	#wsp-float-btn{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		position: fixed;
		bottom: 25px;
		right: 25px;
		background: #25d366;
		z-index: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 1.5rem;
		transition: all .2s ease-in-out;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	}
	#wsp-float-btn:hover{
		background: white;
		color: #25d366;
	}

	@media (max-width: 426px) { 
        #wsp-float-btn{
			bottom: 15px;
			right: 15px;
		}
		.nav-hidden{
			top: 80px;
		}
    }
	@media (min-width: 1023px) { 
        .nav-mobile{
			display: none;
		}
    } 
</style>
